.moreLikeThis {
  position: relative;
  padding: 20px;
}
.moreLikeThis__sectionName {
  margin-bottom: 20px;
}
.moreLikeThis__movieContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}
.maxThree {
  display: flex;
}
@media screen and (max-width: 520px) {
  .maxThree {
    display: grid;
    grid-template-columns: 1fr;
  }
}
