.moreLikeThis {
  position: relative;
  padding: 0 60px 60px 60px;
}
.moreLikeThis__sectionName {
  margin-bottom: 20px;
}
.moreLikeThis__movieContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.maxThree {
  display: flex;
}
@media screen and (min-width: 1921px) {
  .moreLikeThis__movieContainer {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (max-width: 800px) {
  .moreLikeThis {
    padding: 20px 20px 60px 20px;
  }
}
@media screen and (max-width: 520px) {
  .maxThree {
    display: grid;
    grid-template-columns: 1fr;
  }
}
