.navbar {
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 30;
  transition: background 300ms, padding 300ms;
}
.navbar.navbar_active {
  background: #141414;
  padding: 0px 60px;
  height: auto;
}
.navbar__links {
  flex-grow: 1;
  margin-left: 30px;
  display: flex;
}
.navbar__links a {
  margin-right: 20px;
}
.navbar__links li a {
  color: white;
}
.navbar__searchAndUser {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}
.navbar__searchAndUser p:last-child {
  cursor: pointer;
}
.navbar__searchAndUser__profileImage {
  position: relative;
  width: 35px;
  margin: 0 10px;
  border-radius: 5px;
}

.navbar__searchAndUser ul li:first-of-type {
  display: flex;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
.navbar__searchAndUser ul li:first-child i {
  transition: transform 200ms ease-in-out;
}
.navbar__searchAndUser ul li ul {
  position: absolute;
  top: 69px;
  background: #141414;
  padding: 10px;
  right: 0;
  display: none;
  width: 155px;
}
.navbar__searchAndUser ul li ul li button,
.navbar__searchAndUser ul li ul li a {
  background: transparent;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.navbar__searchAndUser ul li ul li button:hover,
.navbar__searchAndUser ul li ul li a:hover {
  text-decoration: underline;
}

.navbar__searchAndUser ul li:hover ul,
.navbar__searchAndUser ul li:focus-within ul {
  display: block;
}

.navbar__searchAndUser ul li:first-child:hover i {
  transform: rotate(180deg);
}

.navbar__search {
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}
