.footer {
  position: sticky;
  max-width: 1200px;
  padding: 40px 20px;
  top: 100%;
  margin: 0 auto;
}
.footer__social {
  position: relative;
  display: flex;
  align-items: center;
}
.footer__social li {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.footer__social a {
  font-size: 2.5rem;
  color: grey;
  transition: color 100ms;
}
.footer__social a:hover {
  color: white;
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin: 20px 0;
}
.footer__links a {
  display: block;
  color: grey;
  padding: 10px 0;
}
.footer__links a:hover {
  text-decoration: underline;
}
.footer__bottom {
  display: block;
  margin-top: 50px;
  color: grey;
}
.footer__bottom small {
  display: block;
  margin-bottom: 10px;
}
.footer__bottom a {
  color: #e50914;
}
.footer__bottom a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .footer {
    margin: 50px auto 0 auto;
  }
  .footer__links {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
