.search {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  padding: 5px;
  border: none;
  z-index: 100;
  color: white;
  margin-right: 20px;
}
.searchActive {
  background: black;
  outline: solid white 1px;
}
.search i:first-child {
  cursor: pointer;
  font-size: 1.2rem;
  border: solid 1px transparent;
}
.searchActive i:first-child {
  border: none;
}

.search button {
  background: none;
  color: white;
}
.search a {
  color: white;
}
.search__input {
  background: none;
  color: white;
  font-size: 1rem;
  border: none;
  margin: 0 5px;
  outline: none;
}

.search__inputAndClear {
  transform-origin: right;
}

@keyframes scale {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 800px) {
  .search__input {
    max-width: 100px;
  }
  .search {
    margin-right: 0px;
  }
}
