.modal__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow-y: scroll;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  will-change: scroll-position;
}
.modal__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9000;
  animation: scale 500ms;
}
.modal {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50px;
  background: #141414;
  border-radius: 10px;
  color: white;
  animation: scale 500ms;
  z-index: 10003;
}
.modal a:hover {
  text-decoration: underline;
}
.modal__closeBtn {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  color: white;
  font-size: 21px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.modal__header__video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.modal__header__video::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.modal__header__video__videoImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal__header__video__movieLogo {
  position: absolute;
  z-index: 5;
  bottom: 60px;
  left: 60px;
  width: 50%;
}
.modal__header__video__btnContainer {
  position: absolute;
  display: flex;
  z-index: 5;
  bottom: 60px;
  left: 60px;
}
.modal__backToTop {
  position: relative;
  display: block;
  padding-bottom: 30px;

  margin: auto;
  text-align: center;
}
.modal__backToTop a {
  color: white;
}
@media screen and (max-width: 1400px) {
  .modal {
    margin: 0 20px;
  }
}
@media screen and (max-width: 800px) {
  .modal {
    top: 0;
    border-radius: 0;
    max-width: auto;
    margin: 0;
  }
  .modal__header__video__movieLogo {
    display: none;
  }
  .modal__header__video__videoImage {
    border-radius: 0;
  }
  .modal__header__video__btnContainer {
    display: none;
  }
}
@keyframes scale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
