.stars {
  display: inline-flex;
  align-items: left;
  margin: 10px 0;
}
.stars button {
  background: none;
  width: auto;
  height: auto;
  display: inline-block;
  color: unset;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}
.stars i {
  font-size: 1.2rem;
  cursor: pointer;
}
