.infoPopup {
  display: none;
  position: absolute;
  transform: translateY(-45px);
  z-index: 1;
}
.infoPopup p {
  font-weight: bold;
  padding: 5px 10px;
  background: white;
  border-radius: 5px;
  color: black;
  white-space: nowrap;
}
.infoPopup__triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(90%);
}
.btnContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
.btnContainer:hover .infoPopup {
  display: block;
}
.addToListRoundedBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: none;
  color: white;
  border: solid grey 2px;
  width: 38px;
  height: 38px;
  font-size: 1rem;
  transition: border 100ms ease-out;
}
.addToListRegularBtn {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  background: #f3f3f3;
  font-size: 1rem;
  transition: opacity 100ms ease-out;
}
.addToListRoundedBtn:hover {
  border: solid white 2px;
}
.addToListRegularBtn:hover {
  opacity: 0.9;
}
.movieIsAdded {
  background: grey;
  color: white;
}

.addToListRegularBtn[disabled],
.addToListRoundedBtn[disabled] {
  opacity: 0.2;
}

@media screen and (max-width: 800px) {
  .addToListRoundedBtn {
    width: 40px;
    height: 40px;
  }
}
