.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #141414;
  top: 0;
  left: 0;
  z-index: 10000;
}
.loader__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}
.loader__logo img {
  position: relative;
  width: 100%;
  animation: opacity 2500ms infinite;
}
@keyframes opacity {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
