.login {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 400px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .login {
    position: relative;
    max-width: none;
    width: 100%;
    display: flex;
    top: 0;
    transform: translateY(0);
  }
}
