.resetPassword {
  position: absolute;
  max-width: 450px;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
.resetPassword__validation {
  position: relative;
  display: inline-block;

  flex-direction: column;
  width: calc(100% - 300px);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin-left: 5px;
  font-size: 1.1rem;
}
.resetPassword__validation__field {
  margin-bottom: 30px;
}
.resetPassword__validation__field__title {
  margin-bottom: 15px;
  color: white;
}
.resetPassword__validation__field__list {
  list-style-type: circle;
}
.resetPassword__validation__field__list__item {
  color: red;
  margin-bottom: 7px;
}
.resetPassword__validation__field__list__item::before {
  content: "- ";
}
.resetPassword__validation__field__list__item_valid {
  color: green;
}
