.container {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  max-width: 400px;
  padding: 50px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.container p {
  color: #777;
}

.container a {
  color: #e50914;
}

@media screen and (max-width: 800px) {
  .container {
    position: relative;
    max-width: none;
    width: 100%;
    flex-direction: row;
    top: 0;
    transform: translateY(0);
  }
}
